<<<<<<< HEAD
* {
=======
/** {
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
    box-sizing: border-box;
}

html {
<<<<<<< HEAD
    height: 100%;
=======
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.index > .tile {
    height: 30%;
    width: 30%;
    background-color: yellow;
    border: solid black 1px;
    margin: 2em;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}*/

html {
    height: 117%;
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    background-image: url("../images/voetbalstadion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

=======
}
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    height: 100%;
=======
   height: 117%;
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
    width: 100%;
    display: flex;
    flex-direction: column;
}

body>header {
    margin: 0;
    padding: 0 1em 0 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
<<<<<<< HEAD
    background-color: green;
    opacity: 0.5;
=======
    background-color: rgb(118, 14, 120);
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

body>header>nav {
    display: flex;
    align-content: stretch;
<<<<<<< HEAD
}

body>header>h1 {
    color: green;
=======
  
}

body>header>h1 {
    color: rgb(250,240,230);;
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

body>header>nav>a {
    align-self: center;
<<<<<<< HEAD
    padding-left: 0;
    margin: 0;
    border: solid white 1px;
    background-color: green;
    color: white;
    font-size: 3em;
=======
    padding: 0;
    margin: 0;
    border: solid white 1px;
    background-color: black;
    color: white;
    font-size: 4em;
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
    text-decoration: none;
}

body>main {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
=======
    background-color: rgb(255,248,231);
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

main>article {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-color: transparent;
=======
    background-color: rgb(213, 213, 197);
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

main>article>header.command-bar {
    margin: 0;
    padding: 0 0 0 1em;
    box-sizing: border-box;
<<<<<<< HEAD
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: green;
    opacity: 0.5;
}

header.command-bar h2 {
    color: white;
=======
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(195,94,77);
}

header.command-bar h2 {
    color: rgb(250,240,230);
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

header.command-bar nav {
    display: flex;
    align-content: stretch;
<<<<<<< HEAD
    height: 50%;
    color: green;
=======
    height: 100%;
    color: rgb(250,240,230);
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

header.command-bar nav>a, aside a  {
    align-self: center;
    padding: 0;
    margin: 0;
    border: solid white 1px;
<<<<<<< HEAD
    background-color: green; /* pijl groene achtergrond */
    color: white; /* pijl witte kleur */
=======
    background-color: black;
    color: white;
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
    font-size: 2.5em;
    text-decoration: none;
}

aside a {
    font-size: 1.5em;
    
}

main>article>fieldset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 90%;
    width: 100%;
<<<<<<< HEAD
    background-color: transparent;
}

main>article>fieldset>table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

main>article>fieldset>td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: green; /* pijl groene achtergrond */
  color: white; /* pijl witte kleur */
}

main>article>fieldset>tr:nth-child(even) {
  background-color: #dddddd;
=======
   background-color: rgb(249, 246, 244);
    
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

main>aside {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
<<<<<<< HEAD
    width: 30%;
}

body>footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 5%;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 0.3;
    text-align: center;
=======
    width: 25%;
    background-color: rgb(238,238,224);
}

body>footer {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
   height: 17%;
    width: 100%;
    color: rgb(250,240,230);
    background-color: rgb(65,74,76);
>>>>>>> e9561714130c9b46b5814e82646dbf3eb9e22ed4
}

/* accessability */
.screen-reader-text {
    /* Reusable, toolbox kind of class
        voor screen readers, op die manier
        kunnen de readers lezen waarvoor
        de knop staat; de tekst is zelf
        niet zichtbaar op het scherm door negatieve
        waarden toe te kennen aan top en left */
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}